JWT_SECRET=your_jwt_secret_here
NODE_ENV=development
MONGODB_URI=your_mongodb_uri_here
CLIENT_URL=https://skill-sync-frontend.onrender.com

CLOUDINARY_CLOUD_NAME=cloud_name_here
CLOUDINARY_API_KEY=your_cloudinary_api_key_here
CLOUDINARY_API_SECRET=your_cloudinary_api_secret_here

SMTP_EMAIL=your_smpt_email_here
SMTP_PASSWORD=your_smtp_password_here
TOKEN_SECRET=your_token_secret_here