.forgot-password {
  height: 100vh;
  background-color: #c1beff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .card {
    width: 100%;
    max-width: 450px;
    background-color: #fff;
    border-radius: 12px;
    padding: 40px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    text-align: center;

    h2 {
      font-size: 2rem;
      font-weight: 600;
      color: #4b3dbb;
      margin-bottom: 1.5rem;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      input {
        padding: 14px 0;
        font-size: 1rem;
        border: none;
        border-bottom: 2px solid #ccc;
        transition: border-color 0.3s ease;
        //width: 100%;

        &:focus {
          outline: none;
          border-color: #6a57e2;
        }
      }

      button {
        padding: 14px 0;
        background-color: #6a57e2;
        color: #fff;
        font-weight: 700;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        width: 100%;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #5745c9;
        }
      }
    }

    p {
      margin-top: 1rem;
      font-size: 0.95rem;
      color: #555;
    }
  }

  @media (max-width: 480px) {
    .card {
      padding: 30px 20px;

      h2 {
        font-size: 1.6rem;
      }

      form {
        gap: 1.2rem;

        input {
          font-size: 0.95rem;
          padding: 12px;
        }

        button {
          padding: 12px;
        }
      }

      p {
        font-size: 0.9rem;
      }
    }
  }
}
