@import "../../style.scss";

.events-container {
  max-width: 64rem;
  margin: 0 auto;
  padding: 1.5rem;
  font-family: sans-serif;

  span {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  @include themify($themes) {
    background-color: themed("bgSoft");
    color: themed("textColorSoft");

    .header {
      margin-top: -1.5rem;
      margin-left: 20rem;
      position: fixed;
      left: 0;
      right: 0;
      z-index: 10;
      background-color: themed("bgSoft");
      align-items: center;

      // Centered fixed-width content
      .header-inner {
        max-width: 64rem;
        margin: 0 auto;
      }

      h1 {
        color: themed("textColor");
      }

      nav {
        display: flex;
        gap: 1rem;

        span {
          font-size: 1rem;
          font-weight: bold;
          cursor: pointer;
        }

        .tab {
          background-color: transparent;
          color: themed("textColorSoft");

          &.active {
            border-bottom: 2px solid #7a59e0;
            color: themed("textColor");
          }
        }
      }
    }
  }

  .header {    
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;

    h1 {
      font-size: 2rem;
      font-weight: normal;
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      font-weight: bold;

      .icon {
        font-size: 2rem;
        margin-right: 10px;
      }
    }
  }
}
