@import "../../style.scss";

.home-container {
  @include themify($themes) {
    padding: 1.5rem 1.5rem 0rem;
    max-width: 100%;
    background-color: themed("bgSoft");
    color: themed("textColor");

    .home-header {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 35px;
        height: 35px;
        object-fit: contain;
        font-weight: 750;
      }

      span {
        font-size: 1.8rem;
        font-weight: 750;
      }
    }
  }
}

.home {
  @include themify($themes) {
    padding: 0rem 1.5rem 0rem;
    background-color: themed("bgSoft");

    @include mobile {
      padding: 0rem 1.5rem 0rem;
    }

    @include tablet {
      padding: 0rem 1.5rem 0rem;
    }
  }
}
