
@import "../../style.scss";

.event-description-container {
  max-width: 64rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  @include themify($themes) {
    background-color: themed("bgSoft");
    color: themed("textColorSoft");

    // .header {
    //   h1 {
    //     color: themed("textColor");
    //   }
    // }

    .event-details {
      background-color: themed("bg");
      // color: themed("textColorSoft");

      .event-title {
        color: themed("textColor");
      }

      .event-date {
        color: themed("date");
      }

      .event-desc {
        color: themed("textColorSoft");
      }
    }

    .not-found {
      color: red;
    }
  }


  .event-details {
    max-width: 64rem;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    padding: 1.5rem;
    text-align: center;

    .event-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
    }

    .event-title {
      font-size: 1.75rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }

    .event-date {
      font-size: 1rem;
      margin-bottom: 1rem;
      font-weight: 500;
    }

    .event-desc {
      font-size: 1rem;
      line-height: 1.5;
      text-align: center;
    }
  }

  .not-found {
    font-size: 1.25rem;
    font-weight: 500;
    text-align: center;
  }
}